@font-face {
  font-family: 'timer';
  src: url('timer.ttf');
}

body {
    margin: 0;
    text-align: center;
    background-color: #1B244A;
    color: white;
    font-size: 40px;
}

h3 {
    margin-bottom: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#guest-score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 160px;
    margin: auto;
    font-family: "timer";
}

#home-score{
   background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 160px;
    margin: auto;
    font-family: "timer";
}

.container {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

button {
    padding: 9px;
    border: 1px solid white;
    border-radius: 5px;
    color: #9AABD8;
    font-size: 20px;
    background-color: #1B244A;
    margin-top: 30px;
    font-family: "timer";
}

.scoreBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
